:root {
    --primaty-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --logo-black-color:#000000;
    --text-white-color:#ffffff;
    --bg-color:#2F303A;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primaty-text-color);
}
/* header */
.logo {
    color: var(--logo-black-color);
}

.logo-accent {
    color: var(--accent-color);
}

.site-nav, .auth-nav {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.list {
    list-style: none;
}

.site-nav .link {
    color: var(--title-text-color)
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.auth-nav .link {
    color: var(--primaty-text-color)
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

/* main */
 .hero {
    background-color: var(--bg-color);
    
 }

 .hero-title {
    width: 696px;
    height: 120px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-white-color);
 }

 .hero-button {
    background-color: var(--accent-color);
    color: var(--text-white-color);
    cursor: pointer;
    position: absolute;
    width: 152;
    height: 30;
    left: 724;
    top: 440;
    font-style: normal;
    font-weight: 700;
    font-size: 16;
    line-height: 30;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
 }