:root {
    --primaty-text-color:#757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --logo-black-color:#000000;
    --text-white-color:#ffffff;
    --bg-color:#2F303A;
    --address-white-opacity-color:rgba(255, 255, 255, 0.6);
    --team-color-bg:#F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primaty-text-color);
}

.hiden-text {
    display: none;
}

/* header */
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--logo-black-color);
}

.logo-accent {
    color: var(--accent-color);
}

.site-nav, .auth-nav {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.list {
    list-style: none;
}

.site-nav .link {
    color: var(--title-text-color)
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.auth-nav .link {
    color: var(--primaty-text-color)
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

/* main */
/* hero */
 .hero {
    background-color: var(--bg-color);
 }

 .hero-title {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-white-color);
 }

 .hero-button {
    background-color: var(--accent-color);
    color: var(--text-white-color);
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 16;
 }

 /* features */
.features-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.fearures-description{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--primaty-text-color);
}

/* work */
.wokr-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

/* team */
.team {
    background-color: var(--team-color-bg);
}

.team-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.person-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.person-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primaty-text-color);
}

/* filters */
.buttons .button {
    color: var(--title-text-color);
    background-color: var(--team-color-bg);
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}

.buttons .button:hover,
.buttons .button:active {
    color: var(--text-white-color);
    background-color: var(--accent-color);
}

/* portfolio */
.portfolio-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--primaty-text-color);
}



/* footer */
.footer {
    background-color: var(--bg-color);
}

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--text-white-color);
}

 .footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
 }

 .address-location .link {
    color: var(--text-white-color);
 }

 .address-location .link:hover,
 .address-location .link:focus {
    color: var(--accent-color);
 }

 .address-mail .link {
    color: var(--address-white-opacity-color)
 }

 .address-mail .link:hover,
 .address-mail .link:focus {
    color: var(--accent-color);
 }

 .address-tel .link {
    color: var(--address-white-opacity-color)
 }

 .address-tel .link:hover,
 .address-tel .link:focus {
    color: var(--accent-color);
 }
